.container {
    position: fixed;
    left: 50px;
    top: 45px;
}

.triangleWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    animation: rotate 2s infinite alternate;
    
}

@keyframes rotate {
    0%{
       transform: rotateY(0deg);
    }
 
    100%{
        transform: rotateY(360deg);
    }
}

@media screen and (max-width:768px){
    .container{
       display:none;
    }
}